img{
    &.logo{
        border-radius: 50%;
        width: 250px !important;
        height: 250px !important;
        background-image: url('../../../../assets/svg/photo-camera-svgrepo-com-svg.svg');           
        background-color: rgba(0, 0, 0, 0.6);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px 100px;
        background-clip: border-box;
        border: solid 12px var(--ion-color-orange);

        box-sizing: border-box;

        &:hover{
            background-color: rgba(20, 20, 20, 0.6);
            cursor: pointer;
        }
    }

    &.dni{
        max-height: 300px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        background-image: url('../../../../assets/svg/photo-camera-svgrepo-com-svg.svg');           
        background-color: rgba(0, 0, 0, 0.6);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px 100px;
        background-clip: border-box;
        border: solid 12px var(--ion-color-orange);
        box-sizing: border-box;

        &:hover{
            background-color: rgba(20, 20, 20, 0.6);
            cursor: pointer;
        }
    }
}

ion-img{
    &.intro{
        height: 50%;
        margin-top: 7%;
    }
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

swiper {
    height: 100%;
}

ion-chip{
    --background:var(--ion-color-orange)
}

ion-fab-button{
    --background:var(--ion-color-orange)
}

ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
}


#address-list{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 91%;
    margin-top: 57px;
    z-index: 99999999999999;
    background-color: var(--background);
}