<ion-content [formGroup]="this.stepsForm">
  <swiper (swiper)="this.setSwiperInstance($event)" [config]="this.swiperConfig">

    <ng-template swiperSlide>
      <ion-img class="intro" [src]="'../../../../assets/svg/undraw_letter_re_8m03.svg'"></ion-img>
      <ion-card-header mode="ios">
        <ion-card-title>OK ----</ion-card-title>
        <ion-card-subtitle>recuerde que su informacion es vital para que podamos prestar un excelente serivico</ion-card-subtitle>
        <ion-card-subtitle class="card-content">
          <ion-label>Si esta usted de acuerdo acepte nuestros </ion-label>
          <ion-text class="ion-margin" color="orange">terminos y servicios</ion-text>
          <ion-checkbox (ionChange)="checkboxConditions.value = !checkboxConditions.value" #checkboxConditions id="condition&terms"></ion-checkbox>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-grid fixed>
        <ion-row style="flex-direction: row; justify-content: center;">
          <ion-col sizeSm="6" sizeXs="12">
            <ion-button [disabled]="checkboxConditions.value" expand="block" class="ion-margin" color="orange" (click)="this.nextSlider()" shape="round">
              <ion-label>siguiente</ion-label>
              <ion-icon slot="end" name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template swiperSlide>
      <ion-content>
        <ion-card-header>
          <ion-card-subtitle>Bienvenido y gracias por confiar en nosotros</ion-card-subtitle>
          <ion-card-subtitle>en proximos pasos vamos a completar su información de perfil</ion-card-subtitle>
        </ion-card-header>
        <ion-item-group>
          <ion-item>
            <ion-label>Marca</ion-label>
            <ion-input formControlName="maker" type="text" placeholder="ejemplo: kawasaki"></ion-input>
            <ion-icon slot="start" name="add"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Modelo</ion-label>
            <ion-input formControlName="model" type="text" placeholder="ejemplo: KLR-650"></ion-input>
            <ion-icon slot="start" name="add"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Año</ion-label>
            <ion-input formControlName="year" class="input-number" type="number" placeholder="ejemplo: 2019"></ion-input>
            <ion-icon slot="start" name="add"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Color <i>( Ingrese color Predominante )</i></ion-label>
            <ion-input formControlName="color" type="text" placeholder="ejemplo: negro"></ion-input>
            <ion-icon slot="start" name="add"></ion-icon>
          </ion-item>
        </ion-item-group>
        <ion-button [disabled]="this.stepsForm.invalid" shape="round" color="orange" (click)="this.nextSlider()"class="ion-margin">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>siguiente</ion-label>
        </ion-button>
      </ion-content>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card-header mode="ios">
        <ion-card-subtitle>Ingresa una imagen horizontal y nítida de tu documento de identidad y/o licencia</ion-card-subtitle>
        <ion-card-title>¿Nos permites tu Identificación? 📸</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <img class="dni" #imgViewPortDni button (click)="fileDni.click();" [src]="' '" alt=""  onerror="this.src=`data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'></svg>`;">
        <input formControlName="documentImg" (change)="imgHandler($event,imgViewPortDni)" style="display: none;" id="image_dni" #fileDni type="file" accept="image/*">
        <ion-button class="ion-margin" color="orange" (click)="fileDni.click();" shape="round">
          <ion-label>Buscar</ion-label>
        </ion-button>
        <ion-grid fixed>
          <ion-row style="flex-direction: row; justify-content: center;">
            <ion-col sizeSm="6" sizeXs="12">
              <ion-button expand="block" class="ion-margin" color="orange" (click)="this.backSlider()" shape="round">
                <ion-label>Atras</ion-label>
                <ion-icon slot="start" name="chevron-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col sizeSm="6" sizeXs="12">
              <ion-button [disabled]="this.stepsForm.get('business').get('documentImg').invalid" expand="block" class="ion-margin" color="orange" (click)="this.nextSlider()" shape="round">
                <ion-label>siguiente</ion-label>
                <ion-icon slot="end" name="chevron-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card-header mode="ios">
        <ion-card-subtitle>Ingresa una imagen horizontal y nítida de tu documento de identidad</ion-card-subtitle>
        <ion-card-title>Ingresar Foto de la Placa 📸</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <img class="dni" #imgViewPortDni button (click)="fileDni.click();" [src]="' '" alt=""  onerror="this.src=`data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'></svg>`;">
        <input formControlName="documentImg" (change)="imgHandler($event,imgViewPortDni)" style="display: none;" id="image_dni" #fileDni type="file" accept="image/*">
        <ion-button class="ion-margin" color="orange" (click)="fileDni.click();" shape="round">
          <ion-label>Buscar</ion-label>
        </ion-button>
        <ion-grid fixed>
          <ion-row style="flex-direction: row; justify-content: center;">
            <ion-col sizeSm="6" sizeXs="12">
              <ion-button expand="block" class="ion-margin" color="orange" (click)="this.backSlider()" shape="round">
                <ion-label>Atras</ion-label>
                <ion-icon slot="start" name="chevron-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col sizeSm="6" sizeXs="12">
              <ion-button [disabled]="this.stepsForm.get('business').get('documentImg').invalid" expand="block" class="ion-margin" color="orange" (click)="this.nextSlider()" shape="round">
                <ion-label>siguiente</ion-label>
                <ion-icon slot="end" name="chevron-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ng-template>

    <ng-template swiperSlide>
      <ion-img [src]="'../../../assets/svg/banner.svg'"></ion-img>
      <ion-card-header >
        <ion-card-title>Empezemos... 📦</ion-card-title>
      </ion-card-header>
      <ion-button (click)="goApp()" color="orange" expand="block" fill="clear" shape="round">
        <ion-label>continuar</ion-label>
      </ion-button>
    </ng-template>

</swiper>
</ion-content>
