<ion-card class="ion-text-center">
  <ion-card-header class="ion-text-start">
    <ion-card-title><h1>Registro</h1></ion-card-title>
  </ion-card-header>
  <ion-card-content style="padding-bottom: 0;">
    <ion-item-group #formRegisterRef [formGroup]="this.formRegister">
      <ng-container formGroupName="documents">
        <ion-item>
          <ion-icon slot="start" name="id-card"></ion-icon>
          <ion-label color="dark" position="stacked">
            Tipo de Documento : <ion-text [color]="this.formRegister.get('documents').get('type').value != null ? 'success' : 'danger'" >{{this.formRegister.get('documents').get('type').value != null ? (this.formRegister.get('documents').get('type').value | uppercase) : 'Sin Especificar'}} </ion-text>
          </ion-label>
          <ion-input (keydown.arrowup)="(false)" (keydown.arrowdown)="(false)" (keydown.enter)="this.enterOrGo()" class="input-autocomplete input-number" formControlName="code" type="number" placeholder="DNI / RUC"></ion-input>
        </ion-item>
      </ng-container> 
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-input (keydown.enter)="this.enterOrGo()" class="input-autocomplete" formControlName="name" type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-input (keydown.enter)="this.enterOrGo()" class="input-autocomplete" formControlName="lastname" type="text" placeholder="Apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="call"></ion-icon>
        <ion-input (keydown.enter)="this.enterOrGo()" class="input-autocomplete" formControlName="phone" type="tel" placeholder="Telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-input (keydown.enter)="this.enterOrGo()" class="input-autocomplete" formControlName="mail" type="email" placeholder="Correo Electronico"></ion-input>
      </ion-item>

      <!-- crear componente independiente para reutilizarlo -->
      <ion-item>
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-button class="eye-button" slot="end" (click)="eyeIconRef.name == 'eye-off' ? eyeIconRef.name = 'eye':eyeIconRef.name = 'eye-off'">
          <ion-icon #eyeIconRef slot="icon-only" name="eye-off"></ion-icon>
        </ion-button>
        <ion-input  (keydown.enter)="this.enterOrGo()" class="input-autocomplete" formControlName="password" [type]="eyeIconRef.name == 'eye-off' ?'password': eyeIconRef.name == 'eye'? 'text':'password'" placeholder="Contraseña"></ion-input>
      </ion-item>
      <!-- ------------ -->
      
      <ion-button [disabled]="this.formRegister.invalid" class="ion-text-center ion-margin" type="submit" color="orange" (click)="onRegister()" expand="block" fill="solid" shape="round">
        <ng-container *ngIf="!this.loading; else _loading">
          <ion-label>Enviar</ion-label>
          <ion-icon slot="end" name="send"></ion-icon>
        </ng-container>
        <ng-template #_loading>
          <ion-spinner slot="end" name="crescent"></ion-spinner>
        </ng-template>
      </ion-button>
    </ion-item-group>
  </ion-card-content>
  <ion-card-header style="padding-top: 0;">
    <p class="divider line one-line" id="link-register" >Registrate con</p>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-between">
        <ion-col style="display: flex;" class="ion-justify-content-center" size="6">
          <ion-fab-button color="orange">
            <ion-icon name="logo-google"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col style="display: flex;" class="ion-justify-content-center"  size="6" >
          <ion-fab-button color="orange">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text >¿Ya tienes una cuenta?<br> <a>Ingresa aqui 🌐</a></ion-text>
  </ion-card-header>
</ion-card>
