<ion-header>
  <ion-toolbar>
    <app-btn-menu slot="start"></app-btn-menu>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="4">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title>$0.00</ion-card-title>
            <ion-card-subtitle>Ventas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center ion-no-padding">
            <ion-chip color="primary" mode="ios" outline="true">
              <ion-label>Más Info</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="4">
        <ion-card>
          <ion-card-header color="success">
            <ion-card-title> 0 </ion-card-title>
            <ion-card-subtitle>Encomiendas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center ion-no-padding">
            <ion-chip color="success" mode="ios" outline="true">
              <ion-label>Más Info</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col ssizeXs="12" sizeSm="4">
        <ion-card>
          <ion-card-header color="danger">
            <ion-card-title>12/12/2022</ion-card-title>
            <ion-card-subtitle>Planes</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center ion-no-padding">
            <ion-chip color="danger" mode="ios" outline="true">
              <ion-label>Más Info</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>