<!-- <ng-container *ngIf="packagesList.length > 0"> -->
    <ion-card *ngFor=" let item of this.packagesList; let i = index">
      <ion-item>
        <ion-icon slot="start" name="cube"></ion-icon>
        <ion-label>
          <ion-text color="orange">#item.id</ion-text> Encomienda
        </ion-label>
        <ion-buttons slot="end">
          <ion-button [id]="i">
            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-popover side="top" alignment="end" reference="trigger" [trigger]="i" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-item-group>
                <ion-item>
                  <ion-label>Generar Validacion</ion-label>
                </ion-item>
                <ion-item [button]="true" [detail]="false" (click)="selectPackage(item,i)">
                  <ion-label>Seleccionar</ion-label>
                  <ion-icon color="orange" slot="start" name="add"></ion-icon>
                </ion-item>
                <ion-item  [button]="true" [detail]="false">
                  <ion-label>Abrir Mapa</ion-label>
                  <ion-icon color="orange" slot="start" name="map"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>
            item.created_at | date:'short'
            <br>
            Tiempo de Retiro: this.formatDistanceStrict(item.timeout) -
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Tipo de Encomienda</p>
          <h2 style="color: var(--ion-color-orange);">item.type</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-card-title>item.client.name item.client.lastname</ion-card-title>
          <p>Cliente</p>
          <h4>item.user_name</h4>
        </ion-label>
      </ion-item>
      <ion-card-header class="ion-no-padding">
        <ion-accordion-group>
          <ion-accordion>
            <ion-item class="ion-text-center" slot="header">
              <ion-label>Información</ion-label>
            </ion-item>
            <ion-item-group slot="content">
              <ion-item-divider>
                <ion-label>Información de Retiro</ion-label>
              </ion-item-divider>
              <ion-item button>
                <ion-label class="ion-text-wrap">
                  <p>Dirección de Retiro</p>
                  <h4> item.location.start.address</h4>
                </ion-label>
                <ion-icon slot="start" name="map"></ion-icon>
              </ion-item>
              <ng-container >
                <ion-item-divider>
                  <ion-label>Indicaciones de Entrega</ion-label>
                </ion-item-divider>
                <ion-item button>
                  <ion-label class="ion-text-wrap">
                    <p>Dirección de Entrega</p>
                    <h4> item.location.goal.address</h4>
                  </ion-label>
                  <ion-icon slot="start" name="map"></ion-icon>
                </ion-item>
              </ng-container>
            </ion-item-group>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-header>
    </ion-card>
  <!-- </ng-container> -->